html {

}

body{
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 1000px;
  background-image: url("img/jared-subia--2mEhM9nKsM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

#tournament-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 250px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.42);
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  position: relative;
}

#tournament {
  opacity: 1;
  margin-bottom: 0;
}

#hoop-credit {
  font-size: 14px;
  margin-top: auto;
  color: whitesmoke;
}

#logo-credit {
  font-size: 10px;
  color: whitesmoke;
  position: absolute;
  margin-bottom: 0;
  bottom: 8px;
}

a {
  color: white;
  text-decoration: none;
  color: whitesmoke;
}


#content-container {
  display: flex;
  flex-direction: column;
}

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: rgba(245, 245, 245, 0.508);
  height: 395px;
}

.info {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: .4px;
}

#nike {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  box-shadow: 0 -6px 7px -7px grey inset;
  height: 395px;
}


legend {
  font-size: 28px;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  list-style: none;
  justify-content: flex-start;
}

li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.766);
  font-size: 14px;
  margin-right: 75px;
  gap: 2px;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border-color: lightgray
}

#create {
  background-color: whitesmoke;
  height: 165px;
}

